/* ==========================================================
   PISTA 3
========================================================== */

.modal-pista3{

    width:min(900px,90vw);

    height:min(700px,90vh);

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    align-items: center;

    overflow:hidden;

}

.modal-pista3 h2{

    flex:0 0 auto;

}

.contenedor-imagen{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:20px 0;

    overflow:hidden;

    border:2px solid #00ff41;

    border-radius:12px;

    background:#000;

    min-height:0;

}

#imagenPista3{

    width:100%;

    height:100%;

    object-fit:contain;

    transition:opacity .35s ease;

}

.modal-pista3 button{

    flex:0 0 auto;

    margin-top:20px;

}