*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    flex-flow: column;
    justify-content:center;
    align-items:center;

    color: #00ff41;

    font-family: "Consolas", "Courier New", monospace;

    min-height: 100vh;

    background:
    radial-gradient(circle at center,
    #0a250f 0%,
    #071108 35%,
    #030303 100%);
}

.contador{
    text-align:center;
}


h1,h2,h3{

    color:#00ff41;

    text-transform:uppercase;

    letter-spacing:3px;

    text-shadow:
        0 0 5px #00ff41,
        0 0 15px #00ff41;
}

p,span{

    color:#8effa8;

    line-height:1.6;
}

.contador{

    width:min(95%,500px);

    margin:5%;

    text-align:center;
}

.grid-tiempo{
    display:grid;
    grid-template-columns:repeat(4, minmax(100px,1fr));
    gap:20px;
    width:100%;
    max-width:700px;
}


.item{

    min-height:140px;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    padding:20px;
}

.item p{

    font-size:1rem;

    margin-top:10px;
}

#mensaje{
    margin-top:25px;
}

button{

    background:black;

    color:#00ff41;

    border:2px solid #00ff41;

    padding:12px 20px;

    cursor:pointer;

    font-family:inherit;

    transition:.3s;
}

button{

    margin-top:30px;

    width:min(100px,90%);

    font-size:1rem;

}

button:hover{

    background:#00ff41;

    color:black;

    box-shadow:
        0 0 15px #00ff41,
        0 0 30px #00ff41;
    
}

.glitch{
    display:inline-block;
    position:relative;
}

.glitch.animar{

    animation:glitch .18s linear 6;

    color:#00ff41;

    text-shadow:
        -2px 0 red,
        2px 0 cyan;
}

@keyframes glitch{

    0%{
        transform:translate(0);
        opacity:1;
    }

    20%{
        transform:translate(-3px,2px);
    }

    40%{
        transform:translate(3px,-2px);
    }

    60%{
        transform:translate(-2px,1px);
    }

    80%{
        transform:translate(2px,-1px);
    }

    100%{
        transform:translate(0);
        opacity:1;
    }

}

@keyframes blink{

    0%,100%{
        opacity:1;
    }

    50%{
        opacity:.35;
    }

}

.cursor{

    animation:blink .8s infinite;
}

body::before{

    content:"";

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    pointer-events:none;

    background:
    repeating-linear-gradient(
        transparent 0px,
        transparent 3px,
        rgba(0,255,65,.03) 4px
    );
}


/* -- APARTADO RESPONSIVE */

@media (max-width:900px){

    .grid-tiempo{

        grid-template-columns:repeat(2,1fr);

    }

}

@media (max-width:600px){

    h1{

        font-size:2rem;

    }

    .grid-tiempo{

        grid-template-columns:1fr;

    }

    .item{

        min-height:110px;

    }

    .item span{

        font-size:2.5rem;

    }

}